/* Typography in cards */

/* Title */
.IZ65Hb-YPqjbf.r4nke-YPqjbf {
  font-size: 15px;
  margin-bottom: 6px;
  padding-top: 24px;
}

/* Text */
.IZ65Hb-WsjYwc-nUpftc .h1U9Be-YPqjbf {
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 0;
}

/* Labels */
.IZ65Hb-jfdpUb {
  display: none;
}


/* Dark theme cards border color */

.zTETae-h1U9Be-hxXJme.IZ65Hb-TBnied {
  border-color: #333942;
}
